In [1]:
import pandas as pd

In [2]:
s = pd.Series(list('agagssjsjsdgsh'))
s

0     a
1     g
2     a
3     g
4     s
5     s
6     j
7     s
8     j
9     s
10    d
11    g
12    s
13    h
dtype: object

In [3]:
s.unique()

array(['a', 'g', 's', 'j', 'd', 'h'], dtype=object)

In [4]:
s.value_counts()

s    5
g    3
a    2
j    2
h    1
d    1
dtype: int64

In [5]:
dados = pd.read_csv('dados/aluguel.csv', sep = ';')

In [6]:
dados.Tipo.unique()

array(['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila',
       'Quitinete'], dtype=object)

In [7]:
dados.Tipo.value_counts()

Apartamento           16923
Casa de Condomínio      964
Casa                    898
Quitinete               813
Casa de Vila            233
Name: Tipo, dtype: int64